<div class="card h-100 shadow-sm">
  <img src="{{product.imgUrl}}" alt="{{product.productName}}" class="img-fluid">
  <div class="card-body d-flex flex-column">
    <a routerLink= "/shop/{{product.id}}" >
      <h6 class="text-uppercase">{{product.productName}}</h6>
    </a>
    <span class="mb-2">{{product.price}}TL</span>
      <div class="btn-group mt-auto">
        <button type="button" class="btn btn-outline-secondary">
          <span class="fas fa-shopping-cart"></span>
          </button>
          <button routerLink= "/shop/{{product.id}}"  type="button" class="btn btn-outline-secondary">View</button>
      </div>
  </div>
</div>
