.cart-no{
  position: absolute;
  min-height: 20px;
  min-width: 24px;
  border-radius: 50%;
  font-size: 1em;
  background: rgb(164, 108, 5);
  color: white;
  text-align: center;
  top: 12px;
  right: 32px;
}

.logo{
cursor: pointer;
}
